@font-face {
    font-family: "RobotoLight";
    src: url("res/fnts/Roboto-Light.ttf");
}
#myVideo {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: -1;
    margin: auto;
    transform: translateY(-20%)
}
.about {
    width: 1000px; 
    justify-items: center; 
    margin: auto;
}
.partners {
    justify-content: center; 
    padding-bottom: 15px;
    display: flex;
    width: 100%;
    margin: auto;
    padding-top: 15px;
    background: white;
}
.partnerDiv {
    width: 900px;  
    justify-content:space-around;
    display: flex;
}
.partnerTitle {
    font-family: 'RobotoLight';
    font-size: 36px; 
    font-weight: 900;
}
.partnerDivRec {
    width: 170px; 
    height: 75px; 
    align-items: center;
}
.partnerDivSqr {
    width: 100px; 
    height: 100px; 
    align-items: center;
}

.partner {
    width: 100%;
}
.products {
    display: flex;
    width: 100%;
    margin: auto;
    background: white;
    justify-content: center;
}
.productsDiv {
    width: 1000px;  
    justify-content: center; 
    display: flex;
}
.productDiv {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.productImg {
    height: 100px;
}
.section {
    color: white;
}
.headerMain {
    justify-content: center; 
    display: flex; 
    height: 585px; 
}
.headerMain {
    justify-content: center;
    display: flex;
    height: 585px; 
}
body {
    margin: 0;
    width: 100%;
}
ul {
    list-style-type: none;
}
li {
    float: left;
    padding: 25px 40px;
    font-size: 24px;
    font-weight: 900 ;
    font-family: 'RobotoLight';
}   
.header {
    justify-content: center;
    display: flex;
    height: 150px; 
}
.page {
    display: flex;
    width: 100%;
    margin: auto;
    padding-top: 0px;
    background: white;
}
a {
    text-decoration: none;
    color: black;
}


.ab {
    font-size: 20px;
    font-family: "RobotoLight";
    text-align: justify;
}




footer {
    height: 100px; 
    background: #000;
    display: flex;
    justify-content: space-between;
    grid-area: footer;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
}

.catalogElement {
    border-radius: 5px;
}

.footerKeImage {
    height: 75px;
    background: #000;
    margin: 15px;
}
.footerUpP {
    text-align: center;
    font-family: "RobotoLight";
    font-size: 24px;
    font-weight: 900;
    color: white;
}
.footerDownP {
    text-align: center;
    font-family: "RobotoLight";
    font-size: 12px;
    font-weight: 900;
    color: white;
}

.footerRight {
    width: 400px;
}

.footerRightDiv {
    justify-content: flex-end; 
    display: flex;
    margin: 15px;
}

.footerLocation {
    justify-content: flex-end; 
    display: flex;  
    height: 30px; 
    transform: translateY(30%); 
    padding-right: 10px;
}

.footerPhoneIco {
    height: 30px; 
    transform: translateY(30%); 
    padding-right: 10px;
}

.footerPhoneText {
    font-family: "RobotoLight"; 
    font-size: 20; 
    font-weight: 900; 
    color: white;
}

.footerSocial {
    height: 30px; 
    transform: translateY(30%); 
    padding-right: 10px;
    filter: invert(29%) sepia(50%) saturate(1786%) hue-rotate(118deg) brightness(94%) contrast(102%);
}




.leaders {
    width: 100%;
    margin: auto;
    background: white;
    justify-content:space-around;
    transform: translateX(10%);
}
.leaderBlock {
    display: flex;
    width: 900px;
    justify-content: center;
    margin-bottom: 15px;
}
.leaderPhoto {
    width: 350px;
    border-radius: 5px;
}
.titleBLock {
    width: 450px;
    padding-left: 25px;
}
.leaderTitle {
    text-align: left;
    font-family: "RobotoLight";
    font-size: 32px;
    font-weight: 600;
}
.leaderTitlePosition {
    text-align: left;
    font-family: "RobotoLight";
    font-size: 19px;
}   
